<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>png</key>
		<string>微笑.png</string>
		<key>desc</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>色.png</string>
		<key>desc</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>抱抱.png</string>
		<key>desc</key>
		<string>[抱抱]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>得意.png</string>
		<key>desc</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>大哭.png</string>
		<key>desc</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>害羞.png</string>
		<key>desc</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>脸红.png</string>
		<key>desc</key>
		<string>[脸红]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>笑哭.png</string>
		<key>desc</key>
		<string>[笑哭]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>调皮.png</string>
		<key>desc</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>奋斗.png</string>
		<key>desc</key>
		<string>[奋斗]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>鼓掌.png</string>
		<key>desc</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>大笑.png</string>
		<key>desc</key>
		<string>[大笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>呲牙.png</string>
		<key>desc</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>愤怒.png</string>
		<key>desc</key>
		<string>[愤怒]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>尴尬.png</string>
		<key>desc</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>谢谢.png</string>
		<key>desc</key>
		<string>[谢谢]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>开心.png</string>
		<key>desc</key>
		<string>[开心]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>坏笑.png</string>
		<key>desc</key>
		<string>[坏笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>惊讶.png</string>
		<key>desc</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>亲亲.png</string>
		<key>desc</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>早安.png</string>
		<key>desc</key>
		<string>[早安]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>晚安.png</string>
		<key>desc</key>
		<string>[晚安]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>可怜.png</string>
		<key>desc</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>礼物.png</string>
		<key>desc</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>胜利.png</string>
		<key>desc</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>糗大了.png</string>
		<key>desc</key>
		<string>[糗大了]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>偷笑.png</string>
		<key>desc</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>闭嘴.png</string>
		<key>desc</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>鄙视.png</string>
		<key>desc</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>惊吓.png</string>
		<key>desc</key>
		<string>[惊吓]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>拜拜.png</string>
		<key>desc</key>
		<string>[拜拜]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>哼.png</string>
		<key>desc</key>
		<string>[哼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>生气.png</string>
		<key>desc</key>
		<string>[生气]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>石化.png</string>
		<key>desc</key>
		<string>[石化]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>瘦了.png</string>
		<key>desc</key>
		<string>[瘦了]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>衰.png</string>
		<key>desc</key>
		<string>[衰]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>挖鼻.png</string>
		<key>desc</key>
		<string>[挖鼻]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>委屈.png</string>
		<key>desc</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>生病.png</string>
		<key>desc</key>
		<string>[生病]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>疑问.png</string>
		<key>desc</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>晕.png</string>
		<key>desc</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>犯困.png</string>
		<key>desc</key>
		<string>[犯困]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>白眼.png</string>
		<key>desc</key>
		<string>[白眼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>又胖啦.png</string>
		<key>desc</key>
		<string>[又胖啦]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>蛋糕.png</string>
		<key>desc</key>
		<string>[蛋糕]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>鸡腿.png</string>
		<key>desc</key>
		<string>[鸡腿]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>睡着.png</string>
		<key>desc</key>
		<string>[睡着]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>难受.png</string>
		<key>desc</key>
		<string>[难受]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>呕吐.png</string>
		<key>desc</key>
		<string>[呕吐]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>嘘.png</string>
		<key>desc</key>
		<string>[嘘]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>发呆.png</string>
		<key>desc</key>
		<string>[发呆]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>呵呵.png</string>
		<key>desc</key>
		<string>[呵呵]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>伤心.png</string>
		<key>desc</key>
		<string>[伤心]</string>
	</dict>
</array>
</plist>
